In [1]:
import pandas as pd
import numpy as np

In [2]:
isner = pd.read_csv('../data/isner_serve_chart.csv')
isner = isner.replace('-', np.nan)
isner.head()

,year,tourney,round,result,opponent,overall: Unret%,overall: <=3 W%,overall: RiP W%,overall: SvImpact,1st: Unret%,1st: <=3 W%,1st: RiP W%,1st: SvImpact,1st: D Wide%,1st: A Wide%,1st: A BP Wide%,2nd: Unret%,2nd: <=3 W%,2nd: RiP W%,2ndAgg
0,2023,US Open,R64,L,Mmoh,48.1%,63.0%,55.7%,55.6%,62.2%,77.5%,64.3%,73.1%,57.1%,40.3%,0.0%,19.6%,34.8%,45.9%,69
1,2023,US Open,R128,W,Diaz,44.6%,65.1%,65.2%,56.3%,43.4%,64.2%,63.3%,61.7%,70.8%,51.7%,NaN,46.7%,66.7%,68.8%,-79
2,2023,Houston,R16,L,Brouwer,50.9%,66.7%,60.0%,58.2%,59.4%,78.1%,69.2%,72.5%,53.8%,52.6%,0.0%,45.5%,59.1%,50.0%,103
3,2023,Dallas,F,L,Wu,64.4%,71.2%,41.5%,67.0%,71.9%,77.5%,32.0%,75.4%,40.0%,48.1%,50.0%,42.9%,53.6%,56.3%,-27
4,2023,Australian Open,R128,L,Mannarino,43.0%,56.3%,43.7%,49.1%,53.3%,65.6%,45.2%,62.1%,61.0%,61.2%,0.0%,19.4%,36.1%,41.4%,1

In [3]:
isner.dtypes #show data types to see which cols to convert to numeric

year                  int64
tourney              object
round                object
result               object
opponent             object
overall: Unret%      object
overall: <=3 W%      object
overall: RiP W%      object
overall: SvImpact    object
1st: Unret%          object
1st: <=3 W%          object
1st: RiP W%          object
1st: SvImpact        object
1st: D Wide%         object
1st: A Wide%         object
1st: A BP Wide%      object
2nd: Unret%          object
2nd: <=3 W%          object
2nd: RiP W%          object
2ndAgg                int64
dtype: object

In [4]:
isner.columns

Index(['year', 'tourney', 'round', 'result', 'opponent', 'overall: Unret%',
       'overall: <=3 W%', 'overall: RiP W%', 'overall: SvImpact',
       '1st: Unret%', '1st: <=3 W%', '1st: RiP W%', '1st: SvImpact',
       '1st: D Wide%', '1st: A Wide%', '1st: A BP Wide%', '2nd: Unret%',
       '2nd: <=3 W%', '2nd: RiP W%', '2ndAgg'],
      dtype='object')

In [5]:
string_cols=[ 'overall: Unret%','overall: <=3 W%', 'overall: RiP W%',
             'overall: SvImpact','1st: Unret%', '1st: <=3 W%', 
             '1st: RiP W%', '1st: SvImpact','1st: D Wide%', '1st: A Wide%', 
             '1st: A BP Wide%', '2nd: Unret%','2nd: <=3 W%', '2nd: RiP W%']

for col in string_cols:
    isner[col] = isner[col].str.replace('%', '')
    isner[col] = isner[col].astype('float64')
isner.head()

,year,tourney,round,result,opponent,overall: Unret%,overall: <=3 W%,overall: RiP W%,overall: SvImpact,1st: Unret%,1st: <=3 W%,1st: RiP W%,1st: SvImpact,1st: D Wide%,1st: A Wide%,1st: A BP Wide%,2nd: Unret%,2nd: <=3 W%,2nd: RiP W%,2ndAgg
0,2023,US Open,R64,L,Mmoh,48.1,63.0,55.7,55.6,62.2,77.5,64.3,73.1,57.1,40.3,0.0,19.6,34.8,45.9,69
1,2023,US Open,R128,W,Diaz,44.6,65.1,65.2,56.3,43.4,64.2,63.3,61.7,70.8,51.7,NaN,46.7,66.7,68.8,-79
2,2023,Houston,R16,L,Brouwer,50.9,66.7,60.0,58.2,59.4,78.1,69.2,72.5,53.8,52.6,0.0,45.5,59.1,50.0,103
3,2023,Dallas,F,L,Wu,64.4,71.2,41.5,67.0,71.9,77.5,32.0,75.4,40.0,48.1,50.0,42.9,53.6,56.3,-27
4,2023,Australian Open,R128,L,Mannarino,43.0,56.3,43.7,49.1,53.3,65.6,45.2,62.1,61.0,61.2,0.0,19.4,36.1,41.4,1

In [6]:
isner['tourney'].unique()

array(['US Open', 'Houston', 'Dallas', 'Australian Open', 'Paris',
       'Cincinnati', 'Newport', 'Wimbledon', 'Madrid', 'Indian Wells',
       'Canada', 'Atlanta', 'Acapulco', 'Roland Garros', 'Shanghai',
       'Beijing', 'Laver Cup', 'Washington', 'Miami', 'New York',
       'Tour Finals', 'Rome', 'Auckland', 'Basel', "Queen's Club", 'Nice',
       'London Olympics'], dtype=object)

In [7]:
surfaces = {'Wimbledon': 'grass',
           'Roland Garros': 'clay',
           'Doha': 'hard',
           'Australian Open': 'hard',
           'Tour Finals': 'hard',
           'Basel': 'hard',
           'Shanghai': 'hard',
           'Laver Cup': 'hard',
           'US Open': 'hard',
            'Cincinnati': 'hard',
           'Halle': 'grass',
           'Rome': 'clay',
           'Madrid': 'clay',
           'Miami': 'hard',
           'Indian Wells': 'hard',
           'Dubai': 'hard',
           'Paris': 'hard',
           'Stuttgart': 'grass',
           'Rotterdam': 'hard',
           'Canada': 'hard',
           'Monte': 'clay',
           'Brisbane': 'hard',
           'Istanbul': 'hard',
           'Davis': 'hard',
           'Hamburg': 'clay',
           'London Olympics': 'grass',
           'Stockholm': 'hard',
           'Masters': 'hard',
           'Beijing': 'hard',
           'Estoril': 'clay',
           'Tokyo': 'hard',
           'Bangkok': 'hard',
           'Gstaad': 'clay',
           'Vienna': 'hard',
           'Munich': 'clay',
           'Marseille': 'hard',
           'Milan': 'clay',
           'Sydney': 'hard',
           's': 'grass',
           'Houston': 'clay',
           'Dallas': 'hard',
           'Newport': 'grass',
           'Atlanta': 'hard',
           'Acapulco': 'hard',
           'Washington': 'hard',
           'New York': 'hard',
           'Auckland': 'hard',
           "Queen's Club": 'grass',
           'Nice': 'clay'}
isner['surface'] = isner['tourney'].apply(lambda x: surfaces[x])
isner.head()

,year,tourney,round,result,opponent,overall: Unret%,overall: <=3 W%,overall: RiP W%,overall: SvImpact,1st: Unret%,...,1st: RiP W%,1st: SvImpact,1st: D Wide%,1st: A Wide%,1st: A BP Wide%,2nd: Unret%,2nd: <=3 W%,2nd: RiP W%,2ndAgg,surface
0,2023,US Open,R64,L,Mmoh,48.1,63.0,55.7,55.6,62.2,...,64.3,73.1,57.1,40.3,0.0,19.6,34.8,45.9,69,hard
1,2023,US Open,R128,W,Diaz,44.6,65.1,65.2,56.3,43.4,...,63.3,61.7,70.8,51.7,NaN,46.7,66.7,68.8,-79,hard
2,2023,Houston,R16,L,Brouwer,50.9,66.7,60.0,58.2,59.4,...,69.2,72.5,53.8,52.6,0.0,45.5,59.1,50.0,103,clay
3,2023,Dallas,F,L,Wu,64.4,71.2,41.5,67.0,71.9,...,32.0,75.4,40.0,48.1,50.0,42.9,53.6,56.3,-27,hard
4,2023,Australian Open,R128,L,Mannarino,43.0,56.3,43.7,49.1,53.3,...,45.2,62.1,61.0,61.2,0.0,19.4,36.1,41.4,1,hard

In [8]:
isner = pd.get_dummies(isner, columns=['surface', 'result'])
isner.drop(columns=['result_L'], inplace=True)
#columns after one hot encoding
isner.columns

Index(['year', 'tourney', 'round', 'opponent', 'overall: Unret%',
       'overall: <=3 W%', 'overall: RiP W%', 'overall: SvImpact',
       '1st: Unret%', '1st: <=3 W%', '1st: RiP W%', '1st: SvImpact',
       '1st: D Wide%', '1st: A Wide%', '1st: A BP Wide%', '2nd: Unret%',
       '2nd: <=3 W%', '2nd: RiP W%', '2ndAgg', 'surface_clay', 'surface_grass',
       'surface_hard', 'result_W'],
      dtype='object')

In [9]:
isner.to_csv('../data/isner_serve_chart.csv', index=False)

In [10]:
isner.isna().sum() #show the number of missing values in each column

year                  0
tourney               0
round                 0
opponent              0
overall: Unret%       0
overall: <=3 W%       0
overall: RiP W%       0
overall: SvImpact     0
1st: Unret%           0
1st: <=3 W%           0
1st: RiP W%           0
1st: SvImpact         0
1st: D Wide%          0
1st: A Wide%          0
1st: A BP Wide%      19
2nd: Unret%           0
2nd: <=3 W%           0
2nd: RiP W%           0
2ndAgg                0
surface_clay          0
surface_grass         0
surface_hard          0
result_W              0
dtype: int64

In [11]:
#use simple imputation to fill in missing values with the column mean
isner_imputed = isner.copy()
isner_imputed['1st: A BP Wide%'].fillna(isner_imputed['1st: A BP Wide%'].mean(), inplace=True)
isner_imputed.isna().sum() #show the number of missing values in each column after imputation

C:\Users\altai\AppData\Local\Temp\ipykernel_23796\2761795433.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  isner_imputed['1st: A BP Wide%'].fillna(isner_imputed['1st: A BP Wide%'].mean(), inplace=True)

year                 0
tourney              0
round                0
opponent             0
overall: Unret%      0
overall: <=3 W%      0
overall: RiP W%      0
overall: SvImpact    0
1st: Unret%          0
1st: <=3 W%          0
1st: RiP W%          0
1st: SvImpact        0
1st: D Wide%         0
1st: A Wide%         0
1st: A BP Wide%      0
2nd: Unret%          0
2nd: <=3 W%          0
2nd: RiP W%          0
2ndAgg               0
surface_clay         0
surface_grass        0
surface_hard         0
result_W             0
dtype: int64

In [12]:
#save the imputed data
isner_imputed.to_csv('../data/isner_serve_chart_imputed.csv', index=False)

In [13]:
isner_speed = pd.read_csv('../data/isner_serve_speed.csv')
isner_speed.head()

,year,tourney,round,result,opponent,avg speed,1st: avg,1st: stdev,1st: t avg,1st: wide avg,1st: max,1st: min,2nd: avg,2nd: stdev,2nd: t avg,2nd: wide avg,2nd: max,2nd: min
0,2023,US Open,R64,L,Mmoh,115.6,119.8,8.6,122.4,119.2,134.0,68.0,105.1,5.1,104.8,103.8,114.0,93.0
1,2023,US Open,R128,W,Diaz,117.1,120.3,5.4,123.0,118.9,132.0,108.0,111.3,5.7,114.6,109.0,122.0,93.0
2,2022,US Open,R128,W,Delbonis,118.8,123.0,3.8,NaN,NaN,129.0,117.0,104.0,3.0,NaN,NaN,107.0,101.0
3,2022,Wimbledon,R32,L,Sinner,118.3,122.1,7.3,126.5,119.5,136.0,95.0,109.9,6.0,115.0,105.6,123.0,97.0
4,2022,Wimbledon,R64,W,Murray,124.8,127.9,6.1,130.0,125.0,138.0,114.0,115.7,4.3,118.3,115.2,122.0,103.0

In [14]:
#one hot encoding for surface and result
isner_speed['surface'] = isner_speed['tourney'].apply(lambda x: surfaces[x])
isner_speed = pd.get_dummies(isner_speed, columns=['surface', 'result'])
isner_speed.drop(columns=['result_L'], inplace=True)
isner_speed.head()

,year,tourney,round,opponent,avg speed,1st: avg,1st: stdev,1st: t avg,1st: wide avg,1st: max,...,2nd: avg,2nd: stdev,2nd: t avg,2nd: wide avg,2nd: max,2nd: min,surface_clay,surface_grass,surface_hard,result_W
0,2023,US Open,R64,Mmoh,115.6,119.8,8.6,122.4,119.2,134.0,...,105.1,5.1,104.8,103.8,114.0,93.0,False,False,True,False
1,2023,US Open,R128,Diaz,117.1,120.3,5.4,123.0,118.9,132.0,...,111.3,5.7,114.6,109.0,122.0,93.0,False,False,True,True
2,2022,US Open,R128,Delbonis,118.8,123.0,3.8,NaN,NaN,129.0,...,104.0,3.0,NaN,NaN,107.0,101.0,False,False,True,True
3,2022,Wimbledon,R32,Sinner,118.3,122.1,7.3,126.5,119.5,136.0,...,109.9,6.0,115.0,105.6,123.0,97.0,False,True,False,False
4,2022,Wimbledon,R64,Murray,124.8,127.9,6.1,130.0,125.0,138.0,...,115.7,4.3,118.3,115.2,122.0,103.0,False,True,False,True

In [15]:
# save the data
isner_speed.to_csv('../data/isner_serve_speed.csv', index=False)

In [16]:
isner_speed.isna().sum() #show the number of missing values in each column

year              0
tourney           0
round             0
opponent          0
avg speed         0
1st: avg         16
1st: stdev       16
1st: t avg       58
1st: wide avg    58
1st: max          0
1st: min         16
2nd: avg         16
2nd: stdev       16
2nd: t avg       59
2nd: wide avg    58
2nd: max         16
2nd: min          0
surface_clay      0
surface_grass     0
surface_hard      0
result_W          0
dtype: int64

In [17]:
# use simple imputation to fill in missing values with the column mean
isner_speed_imputed = isner_speed.copy()
cols_to_impute = ['1st: avg','1st: stdev','1st: t avg','1st: wide avg','1st: max','1st: min','2nd: avg','2nd: stdev',
                  '2nd: t avg','2nd: wide avg','2nd: max']
for col in cols_to_impute:
    isner_speed_imputed[col].fillna(isner_speed_imputed[col].mean(), inplace=True)
isner_speed_imputed.isna().sum() #show the number of missing values in each column after imputation

C:\Users\altai\AppData\Local\Temp\ipykernel_23796\1814894457.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  isner_speed_imputed[col].fillna(isner_speed_imputed[col].mean(), inplace=True)

year             0
tourney          0
round            0
opponent         0
avg speed        0
1st: avg         0
1st: stdev       0
1st: t avg       0
1st: wide avg    0
1st: max         0
1st: min         0
2nd: avg         0
2nd: stdev       0
2nd: t avg       0
2nd: wide avg    0
2nd: max         0
2nd: min         0
surface_clay     0
surface_grass    0
surface_hard     0
result_W         0
dtype: int64

In [18]:
#save the imputed data
isner_speed_imputed.to_csv('../data/isner_serve_speed_imputed.csv', index=False)