In [1]:
import pandas as pd
import numpy as np

In [2]:
man = pd.read_csv('../data/nadal_serve_chart.csv')
man = man.replace('-', np.nan)
man.head()

,year,tourney,round,result,opponent,overall: Unret%,overall: <=3 W%,overall: RiP W%,overall: SvImpact,1st: Unret%,1st: <=3 W%,1st: RiP W%,1st: SvImpact,1st: D Wide%,1st: A Wide%,1st: A BP Wide%,2nd: Unret%,2nd: <=3 W%,2nd: RiP W%,2ndAgg
0,2024,Davis Cup,RR,L,Van,13.2%,34.2%,53.1%,26.8%,15.0%,55.0%,64.7%,41.0%,36.4%,77.8%,NaN,11.8%,11.8%,40.0%,4
1,2024,Paris Olympics,R32,L,Djokovic,13.8%,22.4%,41.7%,20.5%,16.7%,23.8%,45.7%,26.0%,15.8%,56.5%,62.5%,7.1%,21.4%,30.8%,-49
2,2024,Paris Olympics,R64,W,Fucsovics,15.2%,31.5%,62.7%,26.2%,19.1%,38.2%,61.8%,34.0%,16.1%,62.2%,85.7%,4.8%,14.3%,65.0%,-72
3,2024,Bastad,F,L,Borges,12.5%,21.4%,39.1%,17.3%,15.8%,23.7%,43.8%,22.9%,35.3%,57.1%,100.0%,6.7%,20.0%,28.6%,-57
4,2024,Bastad,QF,W,Navone,13.2%,21.5%,48.5%,18.0%,16.5%,26.6%,53.0%,23.8%,24.3%,54.8%,57.1%,7.9%,13.2%,40.0%,-39

In [3]:
man.dtypes #show data types to see which cols to convert to numeric

year                  int64
tourney              object
round                object
result               object
opponent             object
overall: Unret%      object
overall: <=3 W%      object
overall: RiP W%      object
overall: SvImpact    object
1st: Unret%          object
1st: <=3 W%          object
1st: RiP W%          object
1st: SvImpact        object
1st: D Wide%         object
1st: A Wide%         object
1st: A BP Wide%      object
2nd: Unret%          object
2nd: <=3 W%          object
2nd: RiP W%          object
2ndAgg                int64
dtype: object

In [4]:
man.columns

Index(['year', 'tourney', 'round', 'result', 'opponent', 'overall: Unret%',
       'overall: <=3 W%', 'overall: RiP W%', 'overall: SvImpact',
       '1st: Unret%', '1st: <=3 W%', '1st: RiP W%', '1st: SvImpact',
       '1st: D Wide%', '1st: A Wide%', '1st: A BP Wide%', '2nd: Unret%',
       '2nd: <=3 W%', '2nd: RiP W%', '2ndAgg'],
      dtype='object')

In [5]:
string_cols=[ 'overall: Unret%','overall: <=3 W%', 'overall: RiP W%',
             'overall: SvImpact','1st: Unret%', '1st: <=3 W%', 
             '1st: RiP W%', '1st: SvImpact','1st: D Wide%', '1st: A Wide%', 
             '1st: A BP Wide%', '2nd: Unret%','2nd: <=3 W%', '2nd: RiP W%']

for col in string_cols:
    man[col] = man[col].str.replace('%', '')
    man[col] = man[col].astype('float64')
man.head()

,year,tourney,round,result,opponent,overall: Unret%,overall: <=3 W%,overall: RiP W%,overall: SvImpact,1st: Unret%,1st: <=3 W%,1st: RiP W%,1st: SvImpact,1st: D Wide%,1st: A Wide%,1st: A BP Wide%,2nd: Unret%,2nd: <=3 W%,2nd: RiP W%,2ndAgg
0,2024,Davis Cup,RR,L,Van,13.2,34.2,53.1,26.8,15.0,55.0,64.7,41.0,36.4,77.8,NaN,11.8,11.8,40.0,4
1,2024,Paris Olympics,R32,L,Djokovic,13.8,22.4,41.7,20.5,16.7,23.8,45.7,26.0,15.8,56.5,62.5,7.1,21.4,30.8,-49
2,2024,Paris Olympics,R64,W,Fucsovics,15.2,31.5,62.7,26.2,19.1,38.2,61.8,34.0,16.1,62.2,85.7,4.8,14.3,65.0,-72
3,2024,Bastad,F,L,Borges,12.5,21.4,39.1,17.3,15.8,23.7,43.8,22.9,35.3,57.1,100.0,6.7,20.0,28.6,-57
4,2024,Bastad,QF,W,Navone,13.2,21.5,48.5,18.0,16.5,26.6,53.0,23.8,24.3,54.8,57.1,7.9,13.2,40.0,-39

In [6]:
man['tourney'].unique()

array(['Davis Cup', 'Paris Olympics', 'Bastad', 'Roland Garros', 'Rome',
       'Madrid', 'Barcelona', 'Brisbane', 'Australian Open',
       'Tour Finals', 'Paris', 'US Open', 'Wimbledon', 'Indian Wells',
       'Acapulco', 'Melbourne', 'Monte Carlo', 'Atp Cup', 'Laver Cup',
       'Canada', 'Shanghai', 'Beijing', 'Cincinnati', 'Miami',
       'Rio Olympics', 'Buenos Aires', 'Doha', 'Basel', 'Hamburg',
       'Stuttgart', 'Rio de Janeiro', 'Halle', 'Sao Paulo', 'Santiago',
       'Tokyo', 'Rotterdam', 'Beijing Olympics', "Queen's Club",
       'Chennai', 'Masters Cup', 'Dubai', 'Costa Do Sauipe', 'Sopot'],
      dtype=object)

In [15]:
surfaces = {'Wimbledon': 'grass',
           'Roland Garros': 'clay',
           'Doha': 'hard',
           'Australian Open': 'hard',
           'Tour Finals': 'hard',
           'Basel': 'hard',
           'Shanghai': 'hard',
           'Laver Cup': 'hard',
           'US Open': 'hard',
           'Cincinnati': 'hard',
           'Halle': 'grass',
           'Rome': 'clay',
           'Madrid': 'clay',
           'Miami': 'hard',
           'Indian Wells': 'hard',
           'Dubai': 'hard',
           'Paris': 'hard',
           'Stuttgart': 'grass',
           'Rotterdam': 'hard',
           'Canada': 'hard',
           'Monte Carlo': 'clay',
           'Brisbane': 'hard',
           'Istanbul': 'hard',
           'Davis Cup': 'hard',
           'Hamburg': 'clay',
           'London Olympics': 'grass',
           'Stockholm': 'hard',
           'Masters Cup': 'hard',
           'Beijing Olympics': 'hard',
           'Estoril': 'clay',
           'Tokyo': 'hard',
           'Bangkok': 'hard',
           'Gstaad': 'clay',
           'Vienna': 'hard',
           'Munich': 'clay',
           'Marseille': 'hard',
           'Milan': 'clay',
           'Sydney': 'hard',
           'Sydney Olympics': 'hard',
           's Hertogenbosch': 'grass',
           'Buenos Aires': 'clay',
           'Barcelona': 'clay',
           "Queen's Club": 'grass',
           'Rio de Janeiro': 'clay',
           'Atp Cup': 'hard',
           'Antwerp': 'hard',
           'Cologne 2': 'hard',
           'Cordoba': 'clay',
           'Los Cabos': 'hard',
           'Acapulco': 'hard',
           'Marrakech': 'clay',
           'Sao Paulo': 'clay',
           'Montevideo CH': 'clay',
           'Guayaquil CH': 'clay',
           'Corrientes CH': 'clay',
           'Potro Alegre CH': 'clay',
           'Campinas CH': 'clay',
           'Bastad': 'clay',
           'Paris Olympics': 'clay',
           'Melbourne': 'hard',
           'Beijing': 'hard',
           'Rio Olympics': 'hard',
           'Santiago': 'clay',
           'Chennai': 'hard',
           'Costa Do Sauipe': 'clay',
           'Sopot': 'clay'}
man['surface'] = man['tourney'].apply(lambda x: surfaces[x])
man.head()

,year,tourney,round,result,opponent,overall: Unret%,overall: <=3 W%,overall: RiP W%,overall: SvImpact,1st: Unret%,...,1st: RiP W%,1st: SvImpact,1st: D Wide%,1st: A Wide%,1st: A BP Wide%,2nd: Unret%,2nd: <=3 W%,2nd: RiP W%,2ndAgg,surface
0,2024,Davis Cup,RR,L,Van,13.2,34.2,53.1,26.8,15.0,...,64.7,41.0,36.4,77.8,NaN,11.8,11.8,40.0,4,hard
1,2024,Paris Olympics,R32,L,Djokovic,13.8,22.4,41.7,20.5,16.7,...,45.7,26.0,15.8,56.5,62.5,7.1,21.4,30.8,-49,clay
2,2024,Paris Olympics,R64,W,Fucsovics,15.2,31.5,62.7,26.2,19.1,...,61.8,34.0,16.1,62.2,85.7,4.8,14.3,65.0,-72,clay
3,2024,Bastad,F,L,Borges,12.5,21.4,39.1,17.3,15.8,...,43.8,22.9,35.3,57.1,100.0,6.7,20.0,28.6,-57,clay
4,2024,Bastad,QF,W,Navone,13.2,21.5,48.5,18.0,16.5,...,53.0,23.8,24.3,54.8,57.1,7.9,13.2,40.0,-39,clay

In [16]:
man = pd.get_dummies(man, columns=['surface', 'result'])
man.drop(columns=['result_L'], inplace=True)
#columns after one hot encoding
man.columns

Index(['year', 'tourney', 'round', 'opponent', 'overall: Unret%',
       'overall: <=3 W%', 'overall: RiP W%', 'overall: SvImpact',
       '1st: Unret%', '1st: <=3 W%', '1st: RiP W%', '1st: SvImpact',
       '1st: D Wide%', '1st: A Wide%', '1st: A BP Wide%', '2nd: Unret%',
       '2nd: <=3 W%', '2nd: RiP W%', '2ndAgg', 'surface_clay', 'surface_grass',
       'surface_hard', 'result_W'],
      dtype='object')

In [17]:
man.to_csv('../data/nadal_serve_chart.csv', index=False)

In [18]:
man.isna().sum() #show the number of missing values in each column

year                  0
tourney               0
round                 0
opponent              0
overall: Unret%       0
overall: <=3 W%       0
overall: RiP W%       0
overall: SvImpact     0
1st: Unret%           0
1st: <=3 W%           0
1st: RiP W%           0
1st: SvImpact         0
1st: D Wide%          0
1st: A Wide%          0
1st: A BP Wide%      65
2nd: Unret%           0
2nd: <=3 W%           0
2nd: RiP W%           0
2ndAgg                0
surface_clay          0
surface_grass         0
surface_hard          0
result_W              0
dtype: int64

In [19]:
#use simple imputation to fill in missing values with the column mean
man_imputed = man.copy()
man_imputed['1st: A BP Wide%'].fillna(man_imputed['1st: A BP Wide%'].mean(), inplace=True)
man_imputed.isna().sum() #show the number of missing values in each column after imputation

C:\Users\altai\AppData\Local\Temp\ipykernel_14404\1151366102.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  man_imputed['1st: A BP Wide%'].fillna(man_imputed['1st: A BP Wide%'].mean(), inplace=True)

year                 0
tourney              0
round                0
opponent             0
overall: Unret%      0
overall: <=3 W%      0
overall: RiP W%      0
overall: SvImpact    0
1st: Unret%          0
1st: <=3 W%          0
1st: RiP W%          0
1st: SvImpact        0
1st: D Wide%         0
1st: A Wide%         0
1st: A BP Wide%      0
2nd: Unret%          0
2nd: <=3 W%          0
2nd: RiP W%          0
2ndAgg               0
surface_clay         0
surface_grass        0
surface_hard         0
result_W             0
dtype: int64

In [20]:
#save the imputed data
man_imputed.to_csv('../data/nadal_serve_chart_imputed.csv', index=False)

In [21]:
man_speed = pd.read_csv('../data/nadal_serve_speed.csv')
man_speed.head()

,year,tourney,round,result,opponent,avg speed,1st: avg,1st: stdev,1st: t avg,1st: wide avg,1st: max,1st: min,2nd: avg,2nd: stdev,2nd: t avg,2nd: wide avg,2nd: max,2nd: min
0,2022,US Open,R16,L,Tiafoe,108.5,113.9,7.7,116.9,112.5,123.0,77.0,101.2,4.1,101.8,100.3,108.0,92.0
1,2022,US Open,R32,W,Gasquet,107.9,112.5,6.3,117.2,108.0,122.0,103.0,99.3,5.1,99.6,NaN,109.0,90.0
2,2022,US Open,R64,W,Fognini,106.5,112.2,7.9,114.0,108.4,122.0,76.0,97.3,4.6,97.6,95.0,103.0,79.0
3,2022,US Open,R128,W,Hijikata,107.2,113.8,5.8,117.0,107.8,122.0,101.0,98.2,3.6,96.9,NaN,105.0,93.0
4,2022,Wimbledon,QF,W,Fritz,103.0,107.0,6.5,109.2,103.6,120.0,95.0,94.7,5.4,94.7,94.0,112.0,83.0

In [22]:
#one hot encoding for surface and result
man_speed['surface'] = man_speed['tourney'].apply(lambda x: surfaces[x])
man_speed = pd.get_dummies(man_speed, columns=['surface', 'result'])
man_speed.drop(columns=['result_L'], inplace=True)
man_speed.head()

,year,tourney,round,opponent,avg speed,1st: avg,1st: stdev,1st: t avg,1st: wide avg,1st: max,...,2nd: avg,2nd: stdev,2nd: t avg,2nd: wide avg,2nd: max,2nd: min,surface_clay,surface_grass,surface_hard,result_W
0,2022,US Open,R16,Tiafoe,108.5,113.9,7.7,116.9,112.5,123.0,...,101.2,4.1,101.8,100.3,108.0,92.0,False,False,True,False
1,2022,US Open,R32,Gasquet,107.9,112.5,6.3,117.2,108.0,122.0,...,99.3,5.1,99.6,NaN,109.0,90.0,False,False,True,True
2,2022,US Open,R64,Fognini,106.5,112.2,7.9,114.0,108.4,122.0,...,97.3,4.6,97.6,95.0,103.0,79.0,False,False,True,True
3,2022,US Open,R128,Hijikata,107.2,113.8,5.8,117.0,107.8,122.0,...,98.2,3.6,96.9,NaN,105.0,93.0,False,False,True,True
4,2022,Wimbledon,QF,Fritz,103.0,107.0,6.5,109.2,103.6,120.0,...,94.7,5.4,94.7,94.0,112.0,83.0,False,True,False,True

In [23]:
# save the data
man_speed.to_csv('../data/nadal_serve_speed.csv', index=False)

In [24]:
man_speed.isna().sum() #show the number of missing values in each column

year               0
tourney            0
round              0
opponent           0
avg speed          0
1st: avg          37
1st: stdev        37
1st: t avg        97
1st: wide avg     97
1st: max           0
1st: min          37
2nd: avg          37
2nd: stdev        37
2nd: t avg        97
2nd: wide avg    116
2nd: max          37
2nd: min           0
surface_clay       0
surface_grass      0
surface_hard       0
result_W           0
dtype: int64

In [25]:
# use simple imputation to fill in missing values with the column mean
man_speed_imputed = man_speed.copy()
cols_to_impute = ['1st: avg','1st: stdev','1st: t avg','1st: wide avg','1st: max','1st: min','2nd: avg','2nd: stdev',
                  '2nd: t avg','2nd: wide avg','2nd: max']
for col in cols_to_impute:
    man_speed_imputed[col].fillna(man_speed_imputed[col].mean(), inplace=True)
man_speed_imputed.isna().sum() #show the number of missing values in each column after imputation

C:\Users\altai\AppData\Local\Temp\ipykernel_14404\3377416858.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  man_speed_imputed[col].fillna(man_speed_imputed[col].mean(), inplace=True)

year             0
tourney          0
round            0
opponent         0
avg speed        0
1st: avg         0
1st: stdev       0
1st: t avg       0
1st: wide avg    0
1st: max         0
1st: min         0
2nd: avg         0
2nd: stdev       0
2nd: t avg       0
2nd: wide avg    0
2nd: max         0
2nd: min         0
surface_clay     0
surface_grass    0
surface_hard     0
result_W         0
dtype: int64

In [26]:
#save the imputed data
man_speed_imputed.to_csv('../data/nadal_serve_speed_imputed.csv', index=False)